.header
	min-height: 450px
	background: url('../img/header-bg.jpg') center (center/cover) no-repeat
	&__wrapper
		padding: 80px 0
	&__title
		background: $main-color
		font-size: 19px
		font-weight: 700
		padding-left: 5px
		text-transform: uppercase
		color: #ffffff
		letter-spacing: 5px
		margin-bottom: 10px
	&__subtitle
		font-size: 38px
		line-height: 1
		font-weight: 500
		background: rgba(255,255,255,0.8)
		margin: 20px 0
		padding-left: 5px
		padding-top: 5px
		padding-bottom: 5px
		img
			width: 40px