.works
    padding: 50px 20px
    min-height: 250px
    &__item
        border: 1px solid #cccccc
        border-radius: 5px
        &-img     
            min-height: 200px
            //border-bottom: 1px solid red
            img
                height: 200px
        p
            text-align: center
            display: block
            margin: 20px 0